/*

###################################################
# App: Formulário e Assinatura AJAX - SGP Provedor#
# Versão: 1.0                                     #
# Data: 01/11/2024                                #
# Autor: Willemberg P. Santos                     #
# Email: willembergps@gmail.com                   #
# Site: https://www.ltitelecom.com.br             #
###################################################

*/

:root {
    --blue: #3699ff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #f64e60;
    --orange: #fd7e14;
    --yellow: #ffa800;
    --green: #1bc5bd;
    --teal: #20c997;
    --cyan: #3699ff;
    --white: #ffffff;
    --gray: #b5b5c3;
    --gray-dark: #7e8299;
    --primary: #3699ff;
    --secondary: #e4e6ef;
    --success: #1bc5bd;
    --info: #8950fc;
    --warning: #ffa800;
    --danger: #f64e60;
    --light: #f3f6f9;
    --dark: #181c32;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f6f9;
    color: #3f4254;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 800px;
    border: 1px solid #b5b5c3;
    padding: 20px;
    border-radius: 10px;
}

.banner {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

.card {
    background-color: #ffffff;
    border-radius: 0.42rem;
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    border: 1px solid #e4e6ef;
    overflow: hidden;
}

.card-title {
    background-color: var(--light);
    padding: 1.5rem 2.25rem;
    border-bottom: 1px solid #ebedf3;
    text-align: center;
}

.card-title h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);
}

.card-body {
    padding: 2.25rem;
}

h3 {
    font-size: 1.275rem;
    font-weight: 600;
    color: #181c32;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.75rem;
}

label {
    font-size: 0.9rem;
    font-weight: 500;
    color: #3f4254;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3f4254;
    background-color: #ffffff;
    border: 1px solid #e4e6ef;
    border-radius: 0.42rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 500;
    color: #3f4254;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.42rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #ffffff;
    background-color: #3699ff;
    border-color: #3699ff;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #1584ff;
    border-color: #0877ff;
}
.imgSuccess {
    display: block; /* Torna a imagem um elemento de bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    max-width: 100%; /* Faz a imagem se ajustar à largura da div sem ultrapassá-la */
    height: auto; /* Mantém a proporção da imagem */
    width: 50%; /* Define uma largura específica, que pode ser ajustada */
}
